@page  "/about"

<h3>About</h3>
This is a small project that I made to learn more about predicting with GRU and displaying it in a Blazor WebAssembly app.

<div style="margin-bottom: 20px;"></div>

<h4>Predicting Apple Stock Prices with GRU</h4>

This predictive model utilizes historical stock data and the versatile capabilities of the TensorFlow and Scikit-learn libraries.
<div style="margin-bottom: 20px;"></div>
<h4>Data Acquisition and Preprocessing</h4>

We begin our journey by fetching historical stock data for Apple from Yahoo Finance using the yfinance library.
The dataset, spanning from January 1, 2015, to December 12, 2023, provides us with valuable insights into the past performance of Apple's stock.

Adjusting for market fluctuations, we focus on the adjusted closing prices as a key metric for our analysis.
This data is then normalized using the Min-Max scaling technique to bring it within a uniform range (0 to 1), ensuring optimal model training.
<div style="margin-bottom: 20px;"></div>
<h4>Building the Predictive Model</h4>

The model is constructed using a GRU (Gated Recurrent Unit) neural network, a type of recurrent neural network (RNN) well-suited for sequential data.
The model is implemented using the TensorFlow framework. The hyperparameters, such as sequence length, epochs, and batch size, are fine-tuned to achieve optimal predictive performance.
<div style="margin-bottom: 20px;"></div>
<h4>Training and Evaluation</h4>

The model is trained on a portion of the dataset, and its performance is evaluated using metrics like Root Mean Squared Error (RMSE) and R-squared.
These metrics provide insights into the accuracy and goodness-of-fit of our predictive model. 
RMSE measures the difference between predicted and actual values, while R-squared measures the proportion of the variance in the dependent variable that is predictable from the independent variable and
R-squared values range from 0 to 1, with 1 indicating a perfect fit.
RMSE was found to be 3.2010853918806705, while R-squared was found to be 0.9679652510248724.

<div style="margin-bottom: 20px;"></div>
<h4>Visualizing Predictions</h4>

To provide a comprehensive view of our model's predictions, we visualize the results through interactive charts.
The plot displays true stock prices alongside predicted prices using blazor Bootstrap charts.
The RMSE and R-squared values are also displayed to provide a measure of the model's accuracy.

<div style="margin-bottom: 20px;"></div>

@code {

}
