@using StockPredictionWeb.Models
@using StockPredictionWeb.Components

@page "/"

<PageTitle>Chart</PageTitle>

<Chart></Chart>

<ToolTip Tip=@tooltipText>
    <p style="text-decoration: underline; cursor: pointer;">
        RMSE for the GRU model is @rmse.ToString("N5") and r-squared for the model is @r_squared.ToString("N5").
    </p>
    <p style="text-decoration: underline; cursor: pointer;">
        RMSE for the LSTM model is @rmseLSTM.ToString("N5") and r-squared for the model is @r_squaredLSTM.ToString("N5").
    </p>
</ToolTip>

@code{
    private double rmse = 3.2010853918806705;
    private double r_squared = 0.9679652510248724;
    private string tooltipText => $"RMSE measures the difference between predicted and actual values, " +
        "while R-squared measures the proportion of the variance in the dependent variable " +
        "that is predictable from the independent variable and R-squared values range from 0 to 1, " +
        "with 1 indicating a perfect fit.";
    private double rmseLSTM = 4.252814113761786;
    private double r_squaredLSTM = 0.943456898266785;
}